<!--The content below is only a placeholder and can be replaced.-->

<div id="navbar">
	<ul>
		<li>
			<a [routerLink]="['/seattle']" alt="Seattle">Seattle, WA &nbsp; | </a>
		</li>
		<li>
			<a [routerLink]="['/']" alt="san jose">San Jose,, CA &nbsp; | </a>
		</li>
		<li>
			<a [routerLink]="['/chicago']" alt="Chicago">Chicago, Il &nbsp; | </a>
		</li>
		<li>
			<a [routerLink]="['/burbank']" alt="burbank">burbank, ca &nbsp; | </a>
		</li>
		<li>
			<a [routerLink]="['/washingtondc']" alt="washingtondc">washington, dc, &nbsp; | </a>
		</li>
		<li>
			<a [routerLink]="['/dallas']" alt="dallas">dallas, tx&nbsp; | </a>
		</li>
	</ul>
</div>
<div id="wrapper">
	<router-outlet></router-outlet>
</div>
